<div>
    <h1 style="text-align: center;">Danh sách API - Dating APP</h1>
</div>
<div>
    <h2>1. Login</h2>
    <strong>TYPE</strong>: POST

    <br />
    <br />
    <strong>URL</strong>: https://dating-deploy.vapor.cloud/users

    <br />
    <br />
    
    <strong>BODY PARAMS</strong>:
    <table style="height: 117px;" width="190">
        <tbody>
            <tr>
                <td style="width: 87px;"> email</td>
                <td style="width: 87px;"> email</td>
            </tr>
            <tr>
                <td style="width: 87px;"> password</td>
                <td style="width: 87px;">mật khẩu</td>
            </tr>
            <tr>
                <td style="width: 87px;"> name</td>
                <td style="width: 87px;">tên</td>
            </tr>
        </tbody>
    </table>
    

    <strong>Example Params:</strong>
    { "name": "Nam", "email": "user2@gmail.com", "password": "12345" }

</div>